// variables
:root,
body[data-theme="theme1"] {
    --main_bg: hsl(222, 26%, 31%);
    --toggle_bg: hsl(223, 31%, 20%);
    --screen_bg: hsl(224, 36%, 15%);

    --key_bg: hsl(225, 21%, 49%);
    --key_shadow: hsl(224, 28%, 35%);

    --key_bg_1: hsl(6, 63%, 50%);
    --key_shadow_1: hsl(6, 70%, 34%);

    --key_bg_2: hsl(30, 25%, 89%);
    --key_shadow_2: hsl(28, 16%, 65%);

    --text_color: hsl(221, 14%, 31%);
    --text_color_white: #fff;
}

body[data-theme="theme2"] {
    --main_bg: hsl(0, 0%, 90%);
    --toggle_bg: hsl(0, 5%, 81%);
    --screen_bg: hsl(0, 0%, 93%);

    --key_bg: hsl(185, 42%, 37%);
    --key_shadow: hsl(185, 58%, 25%);

    --key_bg_1: hsl(25, 98%, 40%);
    --key_shadow_1: hsl(25, 99%, 27%);

    --key_bg_2: hsl(45, 7%, 89%);
    --key_shadow_2: hsl(35, 11%, 61%);

    --text_color: hsl(60, 10%, 19%);
    --text_color_white: #fff;
}

body[data-theme="theme3"] {
    --main_bg: hsl(268, 75%, 9%);
    --toggle_bg: hsl(268, 71%, 12%);

    --key_bg: hsl(281, 89%, 26%);
    --key_shadow: hsl(285, 91%, 52%);

    --key_bg_1: hsl(176, 100%, 44%);
    --key_shadow_1: hsl(177, 92%, 70%);

    --key_bg_2: hsl(268, 47%, 21%);
    --key_shadow_2: hsl(290, 70%, 36%);

    --text_color: hsl(52, 100%, 62%);
    --text-color-blue: hsl(198, 20%, 13%);
    --text_color_white: #fff;
}

//
//  STYLES
//

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main_bg);
    transition: background-color 0.5s ease-out;
    will-change: background-color;
}

main {
    width: 450px;
}

#calculator {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    * {
        will-change: color;
    }

    .header__title {
        color: var(--text_color_white);
        font-size: 3rem;
        font-weight: 700;
    }
    .header__title[data-theme="theme2"],
    .header__title[data-theme="theme3"] {
        color: var(--text_color);
    }

    .header__change-theme {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: var(--text_color_white);
        will-change: color;

        span {
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: 0.1rem;

            margin-bottom: 2.5px;
        }

        .header__change-theme__options {
            margin-left: 2rem;

            button {
                background-color: transparent;
                color: inherit;
                padding: 0 5px;
                border: none;
                font-size: 1.2rem;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:first-child {
                    margin-left: 4px;
                }
                &:nth-child(3) {
                    margin-right: 4px;
                }
            }

            div {
                position: relative;
                width: 100%;
                height: 20px;
                border-radius: 40px;
                margin-top: 5px;
                background-color: var(--toggle_bg);
                transition: background-color 0.5s ease-out;
                will-change: background-color;

                --posBar: 0%;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: calc(10% + var(--posBar));
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background-color: var(--key_bg_1);
                    transform: translate(0, -50%);
                    transition: left 0.5s;
                    will-change: left;
                }
            }
            div[data-theme="theme2"] {
                --posBar: 30%;
            }
            div[data-theme="theme3"] {
                --posBar: 60%;
            }
        }
    }
    .header__change-theme[data-theme="theme2"],
    .header__change-theme[data-theme="theme3"] {
        color: var(--text_color);
    }
}

#screen {
    background-color: var(--screen_bg);
    height: 12rem;
    border-radius: 10px;
    transition: background-color 0.5s ease-out;
    margin-top: 25px;
    will-change: background-color;

    .screen__display::-webkit-scrollbar {
        display: none;
    }
    .screen__display {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        border-radius: 10px;
        padding: 0 3rem;
        overflow-x: scroll;
        overflow-y: hidden;
        will-change: border;
        will-change: transition;

        .screen__display__value {
            position: absolute;
            color: var(--text_color_white);
            max-width: 100%;
            text-align: right;
            white-space: nowrap;
            font-size: 4.5em;
            font-weight: 700;
            letter-spacing: 0.1rem;
            line-height: 5rem;
            padding-left: 3rem;
        }

        .screen__display__value[data-theme="theme2"],
        .screen__display__value[data-theme="theme3"] {
            color: var(--text_color);
        }
    }
}

div#buttons {
    height: 40rem;
    background-color: var(--toggle_bg);
    border-radius: 10px;
    margin-top: 20px;
    transition: background-color 0.5s ease-out;
    will-change: background-color;
    user-select: none;

    * {
        will-change: background-color, color, box-shadow;
    }

    .button__container {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .buttons__row {
            display: flex;
            justify-content: space-evenly;

            .buttons__row__button {
                width: 20%;
                height: 50px;
                border-radius: 10px;

                font-size: 3.2rem;
                font-weight: 700;
                color: var(--text_color);
                background-color: var(--key_bg_2);
                box-shadow: inset 0 -3.5px 0px var(--key_shadow_2);
                transition: all 0.1s ease-in-out;

                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
            }

            .special-buttons-1 {
                font-size: 2rem;
                color: var(--text_color_white);
                background-color: var(--key_bg);
                box-shadow: inset 0 -3.5px 0px var(--key_shadow);
            }

            .special-buttons-2 {
                font-size: 2rem;
                color: var(--text_color_white);
                background-color: var(--key_bg_1);
                box-shadow: inset 0 -3.5px 0px var(--key_shadow_1);
            }
            .special-buttons-2[data-theme="theme3"] {
                color: var(--text_color_blue);
            }
        }
        .special-row {
            .buttons__row__button {
                width: 45%;
            }
        }
    }
}

@media all and (max-width: 800px) {
    main {
        height: 100%;
        padding: 20px 20px;
    }
    div#buttons {
        height: 100%;
    }

    div#buttons .button__container {
        padding: 10px;
    }

    div#buttons .button__container .buttons__row .buttons__row__button {
        height: 70px;
    }
}
